---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Areas from "../components/Areas.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <About />
    <Areas />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
